@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

h4 {
    font-family: "Roboto", sans-serif;
}

.btn {
    font-family: "Roboto", sans-serif;
    text-align: center;
    transition-duration: 0.4s;
    border: 2px solid lightgray;
}
  .btn:hover {
    background-color: #20bed3; 
    color: white;
  }

  @media (max-width: 978px) {
      .btn {
          margin-top: 1rem;
      }
  }