.home {
  height: 85vh;

  &__content {
    h1 {
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      text-align: center;
      font-size: 5rem;
      @media (max-width: 500px) {
          font-size:3rem;
      }
    }


  }
}
