.login {
  input[type='email'],
  input[type='password'] {
    background: rgba(0, 0, 0, 0);
    outline: none;
  }

  [placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
  }
}
